<section class="about-service">
    <div class="container">
        <div class="about-service__info">
            <p class="about-service__info-title tl1">об услуге</p>
            <p class="about-service__info-descr txt20">
                Мы предлагаем услуги по организации питания сотрудников, которые включают в себя разработку и
                приготовление питательных и вкусных обедов, а также доставку готовых блюд прямо на рабочие
                места. Кроме того, мы предлагаем различные программы питания, включая специальные диетические
                меню, при необходимости.
            </p>

            <div class="about-service__info-img">
                <img src="../assets/images/picture/about-service-img.webp" alt="" />
            </div>
        </div>
        <div class="about-service__bricks">
            <div class="about-service__bricks-item">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="110"
                            height="110"
                            viewBox="0 0 110 110"
                            fill="none"
                        >
                            <circle cx="55" cy="55" r="55" fill="#FBF7EB" />
                        </svg>
                    </div>

                    <p class="about-service__bricks-item-title">Качественно</p>
                    <p class="about-service__bricks-item-subtitle">
                        Для приготовления используем свежие продукты
                    </p>
                </div>
            </div>
            <div class="about-service__bricks-item about-service__bricks-item--circle">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="110"
                            height="110"
                            viewBox="0 0 110 110"
                            fill="none"
                        >
                            <circle cx="55" cy="55" r="55" fill="#FBF7EB" />
                        </svg>
                    </div>

                    <p class="about-service__bricks-item-title">Сытно</p>
                    <p class="about-service__bricks-item-subtitle">
                        Обед включает в себя салат, суп, горячее, и гарнир на выбор
                    </p>
                </div>
            </div>
            <div class="about-service__bricks-item about-service__bricks-item--circle">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="110"
                            height="110"
                            viewBox="0 0 110 110"
                            fill="none"
                        >
                            <circle cx="55" cy="55" r="55" fill="#FBF7EB" />
                        </svg>
                    </div>

                    <p class="about-service__bricks-item-title">Удобно</p>
                    <p class="about-service__bricks-item-subtitle">
                        Не надо искать ближайшие кафе или есть на ходу
                    </p>
                </div>
            </div>
            <div class="about-service__bricks-item">
                <div class="about-service__bricks-item-box">
                    <div class="about-service__bricks-item-icon">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="110"
                            height="110"
                            viewBox="0 0 110 110"
                            fill="none"
                        >
                            <circle cx="55" cy="55" r="55" fill="#FBF7EB" />
                        </svg>
                    </div>

                    <p class="about-service__bricks-item-title">Безопасно</p>
                    <p class="about-service__bricks-item-subtitle">
                        Ежедневная доставка в индивидуальных контейнерах
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
