<section class="our-suggestions">
    <div class="container">
        <p class="tl1">наши предложения</p>
        <div class="our-suggestions__list">
            <div class="our-suggestions__item">
                <div class="our-suggestions__item-desc">
                    <p class="our-suggestions__item-title txt32">Обед сытный</p>
                    
                    <div class="our-suggestions__item-menu-list">
                        <p class="our-suggestions__item-menu-title txt20">Состав на выбор:</p>
                        <div class="our-suggestions__item-menu">
                            <div class="our-suggestions__category">
                                <p class="our-suggestions__category-title txt16 txt16_caps">Супы</p>
                                <ul class="our-suggestions__category-list">
                                    <li class="our-suggestions__category-item txt16">
                                        Бульон куриный с лапшой
                                    </li>
                                    <li class="our-suggestions__category-item txt16">Рассольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Минестроне"</li>
                                    <li class="our-suggestions__category-item txt16">Свекольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Фасолевый"</li>
                                    <li class="our-suggestions__category-item txt16">Солянка</li>
                                    <li class="our-suggestions__category-item txt16">Овощной с курицей</li>
                                </ul>
                            </div>
                        </div>

                        <div class="our-suggestions__item-menu">
                            <div class="our-suggestions__category">
                                <p class="our-suggestions__category-title txt16 txt16_caps">Супы</p>
                                <ul class="our-suggestions__category-list">
                                    <li class="our-suggestions__category-item txt16">
                                        Бульон куриный с лапшой
                                    </li>
                                    <li class="our-suggestions__category-item txt16">Рассольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Минестроне"</li>
                                    <li class="our-suggestions__category-item txt16">Свекольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Фасолевый"</li>
                                    <li class="our-suggestions__category-item txt16">Солянка</li>
                                    <li class="our-suggestions__category-item txt16">Овощной с курицей</li>
                                </ul>
                            </div>
                        </div>

                        <div class="our-suggestions__item-menu">
                            <div class="our-suggestions__category">
                                <p class="our-suggestions__category-title txt16 txt16_caps">Супы</p>
                                <ul class="our-suggestions__category-list">
                                    <li class="our-suggestions__category-item txt16">
                                        Бульон куриный с лапшой
                                    </li>
                                    <li class="our-suggestions__category-item txt16">Рассольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Минестроне"</li>
                                    <li class="our-suggestions__category-item txt16">Свекольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Фасолевый"</li>
                                    <li class="our-suggestions__category-item txt16">Солянка</li>
                                    <li class="our-suggestions__category-item txt16">Овощной с курицей</li>
                                </ul>
                            </div>
                        </div>

                        <div class="our-suggestions__item-menu">
                            <div class="our-suggestions__category">
                                <p class="our-suggestions__category-title txt16 txt16_caps">Супы</p>
                                <ul class="our-suggestions__category-list">
                                    <li class="our-suggestions__category-item txt16">
                                        Бульон куриный с лапшой
                                    </li>
                                    <li class="our-suggestions__category-item txt16">Рассольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Минестроне"</li>
                                    <li class="our-suggestions__category-item txt16">Свекольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Фасолевый"</li>
                                    <li class="our-suggestions__category-item txt16">Солянка</li>
                                    <li class="our-suggestions__category-item txt16">Овощной с курицей</li>
                                </ul>
                            </div>
                        </div>

                        <div class="our-suggestions__item-menu">
                            <div class="our-suggestions__category">
                                <p class="our-suggestions__category-title txt16 txt16_caps">Супы</p>
                                <ul class="our-suggestions__category-list">
                                    <li class="our-suggestions__category-item txt16">
                                        Бульон куриный с лапшой
                                    </li>
                                    <li class="our-suggestions__category-item txt16">Рассольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Минестроне"</li>
                                    <li class="our-suggestions__category-item txt16">Свекольник</li>
                                    <li class="our-suggestions__category-item txt16">Суп "Фасолевый"</li>
                                    <li class="our-suggestions__category-item txt16">Солянка</li>
                                    <li class="our-suggestions__category-item txt16">Овощной с курицей</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="our-suggestions__item-price">
                        <p class="our-suggestions__item-price-text txt16">Стоимость за порцию:</p>
                        <span class="our-suggestions__item-price-value txt-num">250</span>
                    </div>
                </div>
                <div class="our-suggestions__list-item-slider"></div>
            </div>
        </div>
    </div>
</section>
